html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

.thumb > img {
  display: block;
  height: 100%;
  width: 100%;
}

svg {
  fill: currentColor;
}

body {
  font-family: "Roboto";
  font-size: 14px;
  color: #212121;
  background-color: #ffffff;
  margin: 0;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  width: 1200px;
  margin: 0 auto;
}

/* ========================  header*/
.header {
  /* padding-top: 25px; */
  /* padding-bottom: 25px; */
  border: 1px solid #ececec;
}
.header-flex {
  display: flex;
  align-items: center;
}

.logo {
  color: #2196f3;
  text-decoration: none;
  font-family: "Raleway";
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-right: 94px;
}

.logo-select {
  color: #000000;
}

/* ========================  nav*/

.nav {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: flex;
}
.nav-list {
  display: flex;
  gap: 50px;
}
.container-nav {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-item-link:hover,
.nav-item-link:focus {
  color: #2196f3;
}

.nav-item-link {
  display: block;
  text-decoration: none;
  list-style: none;
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding-bottom: 28px;
  padding-top: 32px;
}

.nav-item.nav-item_active .nav-item-link {
  color: #2196f3;
}
.nav-item.nav-item_active::after {
  display: block;
  width: 100%;
  height: 4px;
  background: #2196f3;
  border-radius: 2px;
  content: "";
}
.nav-item {
  list-style: none;
}

/* ========================  adress*/
.adress {
  list-style: none;
  display: flex;
  gap: 50px;
}

.adress-item-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  text-decoration: none;
  display: flex;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.adress-item-link:hover,
.adress-item-link:focus {
  color: #2196f3;
}
.adress-item-icon {
  margin-right: 10px;
}

/* ========================  hero*/
.hero-tittle {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;

  text-align: center;
  text-transform: uppercase;

  color: #ffffff;
  width: 696px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.hero {
  background-color: #2f303a;
  padding-top: 200px;

  padding-bottom: 200px;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4) 0%,
      rgba(47, 48, 58, 0.4) 100%
    ),
    url(../img/hw4/herobg.jpg);

  /* height: 600px; */
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.hero-button {
  background-color: #2196f3;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  /* identical to box height, or 188% */
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
  margin: 0 auto;
  border-radius: 4px;
  border: none;
  padding: 10px 32px;
  cursor: pointer;
}

/* ========================  benefits*/
.benefits {
  padding-top: 94px;
}
.benefits-list {
  display: flex;
  gap: 30px;
}
.benefits-list-item {
  list-style: none;
}

.benefits-list-item::before {
  display: block;
  content: "";
  height: 120px;
  background-color: #f5f4fa;
  background-image: url(../img/hw4/antenna1.svg);
  /* background-size: contain; */
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 4px;
  /* height: 70px; */
  /* width: 66.95px; */
}

.icon-clock::before {
  background-image: url(../img/hw4/clock2.svg);
}

.icon-planning::before {
  background-image: url(../img/hw4/diagram3.svg);
}
.icon-technology::before {
  background-image: url(../img/hw4/astronaut4.svg);
}

.benefits-list-item-tittle {
  color: #212121;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
  margin-top: 30px;
}
.benefits-list-item-desc {
  color: #757575;
  line-height: 1.71;
}

/* ========================  doing*/
.doing {
  padding-top: 94px;
  padding-bottom: 94px;
}
.doing-title {
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 50px;
}
.doing-list {
  list-style: none;
  display: flex;
  gap: 30px;
}
.doing-list-item {
  position: relative;
}
.img-text {
  position: absolute;
  bottom: 0;
  left: 0;
  /* margin: 0 auto; */
  width: 100%;
  padding: 27px;
  background-color: rgba(47, 48, 58, 0.8);
  text-align: center;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  color: #ffffff;
}

/* ========================  team */
.team {
  background-color: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
}
.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.team-title {
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 50px;
}
.team-list-item-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}
.team-list-item-prof {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #757575;
  margin-bottom: 16px;
}
.team-list-item {
  list-style: none;
  width: calc((100% - 90px) / 4);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: #ffffff;
}
.team-list-item-content {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  padding: 30px;
  text-align: center;
}
/* ==================regular-customers */
.regular-customers {
  padding-top: 94px;
  padding-bottom: 94px;
}
.regular-customers-title {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: #212121;
}
.regular-customers-item {
  list-style: none;
}

.regular-customers-link {
  border-radius: 4px;
  color: #afb1b8;
  border: 1px solid #afb1b8;
  width: 170px;
  height: 92px;
  display: grid;
  place-items: center;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.regular-customers-link:hover,
.regular-customers-link:focus {
  border-color: #2196f3;
  color: #2196f3;
}
.regular-customers-title-list {
  display: flex;
  gap: 30px;
}

/* ========================social */
.social {
  display: flex;
  gap: 10px;
}
.social-link {
  color: #afb1b8;
  display: grid;
  place-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  color: #ffffff;
}

.socaal-item {
  list-style: none;
}
.social-link:hover,
.social-link:focus {
  background-color: #2196f3;
  color: #ffffff;
}

/* ====================== footer */

.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-contact {
  margin-right: 70px;
}
.footer-social {
  margin-top: 12px;
}

.footer .social-link {
  background-color: rgba(255, 255, 255, 0.1);
  color: #ffffff;
}

.footer .social-link:hover,
.footer .social-link:focus {
  background-color: #2196f3;
}

.footer-elements {
  display: flex;
}

.logo.logo_footer > .logo-select {
  color: #ffffff;
}
.logo.logo_footer {
  margin-bottom: 28px;
  display: block;
}
.contacts-adress {
  color: #ffffff;
  font-style: normal;
}
.contacts {
  display: block;
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  margin-top: 12px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts:hover,
.contacts:focus {
  color: #2196f3;
}

.footer-input-email {
  width: 358px;
  height: 50px;

  border: 1px solid rgba(255, 255, 255, 0.3);

  border-radius: 4px;
  margin-right: 12px;
}
.footer-email-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.15%;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;
  margin-bottom: 20px;
}
.footer-form-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-button.footer-form-button {
  margin-top: 0;
}
.form-button-icon {
  margin-left: 10px;
}
.contact-form {
  margin-top: 12px;
  margin-left: auto;
}

.footer-input-email {
  background-color: transparent;
  padding: 15px;
  color: rgba(255, 255, 255, 0.6);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-input-email:focus {
  border-color: #2196f3;
}
/*============================ backdrop */
.backdrop {
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.is-hidden {
  opacity: 0;
  /* visibility: hidden; */
  /* display: none; */
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}
.is-hidden .modal {
  transform: scale(0);
}
.modal {
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  width: 528px;
  height: 581px;
  position: absolute;
  padding: 8px;
  transform: scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  padding: 40px;
}
.modal-button {
  margin-left: auto;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  cursor: pointer;
  position: absolute;
  top: 8px;
  right: 8px;
}

.modal-button:hover,
.modal-button:focus {
  color: #2196f3;
}

/* ====================form */
.form-title {
  text-align: center;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;

  color: #212121;
}

.contact-form {
  display: flex;
  flex-direction: column;
}
textarea {
  width: 448px;
  height: 120px;
  resize: none;
}

.form-field-label {
  color: #757575;
  margin-bottom: 4px;
  font-size: 12px;
}

.form-field-input {
  height: 40px;
  width: 100%;
  padding-left: 42px;
  padding-right: 12px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-field-input:focus {
  border-color: #2196f3;
}

.form-field-input + .form-field-icon {
  fill: #212121;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-field-input:focus + .form-field-icon {
  fill: #2196f3;
}
.form-field-input.form-field-textarea {
  height: 120px;
  padding: 10px 16px;
  margin-bottom: 20px;
}
.form-field-textarea::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  font-family: "Roboto";
  color: rgba(117, 117, 117, 0.5);
}
.term {
  display: flex;
  align-content: center;
  /* padding-left: 12px; */
}
.form-field {
  position: relative;
  margin-bottom: 10px;
}
.form-field-icon {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
}

.form-button {
  background-color: #188ce8;
  width: 200px;
  height: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin: 0 auto;
  margin-top: 30px;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  letter-spacing: 0.06em;

  color: #ffffff;
}
.condition-link {
  color: #2196f3;
}
.checkbox-text {
  color: #757575;
}

.checkbox {
  appearance: none;
}
.checkbox-text {
  cursor: pointer;
}
.form-checbox-icon {
  border: 2px solid #212121;
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  fill: transparent;
  padding: 2px;
  margin-right: 7px;
}
.form-checbox-icon > * {
  width: 11px;
  height: auto;
}

.checkbox:checked + .form-checbox-icon {
  fill: #ffffff;
  background-color: #2196f3;
  border: #2196f3;
}

/* ```````````````````` portfolio */
.portfolio {
  margin-bottom: 94px;
  margin-top: 94px;
}
.filtr-list {
  display: flex;
  gap: 8px;
  justify-content: center;
}

.filtr-list-item {
  list-style: none;
}
.filtr-list-item-butt {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: #212121;
  padding: 6px 22px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filtr-list-item-butt:hover,
.filtr-list-item-butt:focus {
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
/* ======== example*/
.example-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;

  margin-top: 50px;
}

.example-list-item {
  list-style: none;
  width: calc((100% - 60px) / 3);
}

.example-list-item-content {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;

  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.example-list-item-title {
  margin-bottom: 4px;

  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.example-list-item-title-text {
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: #757575;
}
.example-list-link {
  display: block;
  text-decoration: none;
  color: inherit;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.example-list-link:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.example-container {
  position: relative;
  overflow: hidden;
}
.example-text {
  background: rgba(33, 150, 243, 0.9);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  padding: 24px;
  transform: translateY(100%);

  /* or 156% */

  color: #ffffff;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: transform 250ms;
}

.example-list-item:hover .example-text {
  transform: translateY(0%);
}
