.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-contact {
  margin-right: 70px;
}
.footer-social {
  margin-top: 12px;
}

.footer .social-link {
  background-color: rgba(255, 255, 255, 0.1);
  color: #ffffff;
}

.footer .social-link:hover,
.footer .social-link:focus {
  background-color: #2196f3;
}

.footer-elements {
  display: flex;
}

.logo.logo_footer > .logo-select {
  color: #ffffff;
}
.logo.logo_footer {
  margin-bottom: 28px;
  display: block;
}
.contacts-adress {
  color: #ffffff;
  font-style: normal;
}
.contacts {
  display: block;
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  margin-top: 12px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts:hover,
.contacts:focus {
  color: #2196f3;
}

.footer-input-email {
  width: 358px;
  height: 50px;

  border: 1px solid rgba(255, 255, 255, 0.3);

  border-radius: 4px;
  margin-right: 12px;
}
.footer-email-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.15%;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;
  margin-bottom: 20px;
}
.footer-form-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-button.footer-form-button {
  margin-top: 0;
}
.form-button-icon {
  margin-left: 10px;
}
.contact-form {
  margin-top: 12px;
  margin-left: auto;
}

.footer-input-email {
  background-color: transparent;
  padding: 15px;
  color: rgba(255, 255, 255, 0.6);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-input-email:focus {
  border-color: #2196f3;
}
